#header, 
#footer {
	@include section($inverted-bg);
	color: $white-color;

	h1, 
	h2, 
	h1 a, 
	h2 a, 
	a {
		color: $white-color;
	}
}

main, 
aside {
	margin: 0;

	> * {
		@include section;

		&:nth-child(even) {
			background: $alt-bg;
		}
	}
}
