$auto-icons: (
	'href*="facebook.com"': $icon-facebook,
	'href*="twitter.com"': $icon-twitter,
	'href*="linkedin.com"': $icon-linkedin,
	'href*="instagram.com"': $icon-instagram,
	'href*="plus.google.com"': $icon-googleplus,

	'href$=".pdf"': $icon-pdf,
	'href$=".doc"': $icon-document,

	'href$=".jpg"': $icon-image,
	'href$=".jpeg"': $icon-image,
	'href$=".png"': $icon-image,
	'href$=".gif"': $icon-image,
	'href$=".bmp"': $icon-image,
	'href$=".svg"': $icon-image,

	'href^="mailto:"': $icon-mail,
	'href^="tel:"': $icon-phone,
	'href*="/maps"': $icon-globe
);

$colors: (
	// Base colors
	white: #fff,
	black: #000,

	// Shades of gray
	lightgray: #fafafa,
	gray: #bbb,
	darkgray: #777,

	// Social media
	facebook: #3b5998,
	twitter: #4099FF,
	linkedin: #0077b5,

	// Form/button related
	disabled: #bbb,
	error: #f00,
	success: #0f0,
	warning: #f90,

	// Examples - not in use
	primary: #369,
	secondary: #06f,
	gradient: (red, green)
);
