// Breakpoints
$bp-tablet: '(min-width: 600px)';
$bp-tablet-max: '(max-width: 599px)';

$bp-laptop: '(min-width: 1080px)';
$bp-laptop-max: '(max-width: 1079px)';

$bp-desktop: '(min-width: 1260px)';
$bp-desktop-max: '(max-width: 1259px)';


// Buttons
// Button size
$button-padding-horizontal: 3.2rem;
$button-padding-vertical: 1rem;
$button-empty-padding-horizontal: $button-padding-vertical;
$button-small-percentage: .75;
$button-large-percentage: 1.25;

$button-transition: true;

// Button border
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: false; // false makes non ghost buttons have 0 border, true makes it 10% darker than bg
$button-border-radius: 0;

// Button background
$button-color: #f7c01c; // #ffcc34;
$button-ghost-opacity: .1; // Opacity of a ghost buttons bg on hover
$button-gradient: false; // false = no gradient, % = darken BG this much %
$button-shadow: false; // shadow declaration or true for a default shadow

// Button text
$button-font-family: false; // false = default font, !false = any font-family
$button-text-shadow: false; // false = no shadow, true = default shadow or use a text-shadow declaration
$button-text-color: #fff;
$button-line-height: 1.2;
$button-font-size: 1rem;
$button-font-weight: bold;
$button-font-style: normal;
$button-text-transform: none;
$button-letter-spacing: false;

// Colors
$color-body-bg: #fff;

$color-border: #dedede;
$color-overlay: rgba(0, 0, 0, .4);

$color-lightgray: #fafafa;
$color-gray: #bbb;
$color-darkgray: #777;

$color-white: #fff;
$color-black: #000;

$color-facebook: #3b5998;
$color-twitter: #4099FF;
$color-linkedin: #0077b5;

// Add more colors as needed...
// $color-red: #600 etc...

// Define more to use bg--black etc
$bg-colors: (
	"white": $color-white,
	"lightgray": $color-lightgray
);

// Add more to use .color--red etc
$text-colors: (
	"white": $color-white,
	"gray": $color-gray
);

// Add more to use .icon--red etc
$icon-colors: (
	"lightgray": $color-lightgray
);

// Add more to use .button--green etc
$button-colors: (
	"white": $color-white,
	"disabled": $color-gray,
	"twitter": $color-twitter,
	"gradient": ($color-white, $color-gray),
	"facebook": $color-facebook
);

//Cols
// Add more here to use cols--4, cols--5 etc
$col-nums: (
	"2": 2,
	"3": 3
);

// Add more here to use cols--3--bp-desktop etc
$col-breakpoints: (
	"bp-tablet": $bp-tablet,
	"bp-laptop": $bp-laptop
);

// Form
// Background and text colors
$color-form-field-bg: #fff;
$color-form-success: #060;
$color-form-error: #900;
$color-form-placeholder: #bbb;
$color-form-text: #333;

// Padding
$form-padding-horizontal: $button-padding-vertical;
$form-padding-vertical: $button-padding-vertical;

// Border
$form-border: true;
$form-border-radius: .2rem;

// Select elements
$form-select-arrow: "assets/svg/select-arrow.svg"; // Set to false to have unstyled select elements
$form-select-arrow-size: .5rem;

// Range inputs
$form-range-color-lower: #bbb;
$form-range-color-upper: #ddd;
$form-range-height: .25rem;
$form-range-border: false;
$form-range-border-radius: .25rem;

$form-range-thumb-bg: #1FBB82;
$form-range-thumb-radius: 1rem;
$form-range-thumb-border: false;
$form-range-thumb-border-radius: 50%;
$form-range-thumb-shadow: true;

// Icons
$icon-margin: .4em;
$icon-round-color: #369;
$icon-large-size: 2em;
$icon-round-size: 2.2em;

$auto-icons: (
	'href*="facebook.com"': $icon-facebook,
	'href*="twitter.com"': $icon-twitter,
	'href*="linkedin.com"': $icon-linkedin,
	'href*="instagram.com"': $icon-instagram,

	'href$=".pdf"': $icon-pdf,
	'href$=".doc"': $icon-document,

	'href$=".jpg"': $icon-image,
	'href$=".jpeg"': $icon-image,
	'href$=".png"': $icon-image,
	'href$=".gif"': $icon-image,
	'href$=".bmp"': $icon-image,
	'href$=".svg"': $icon-image,

	'href^="mailto:"': $icon-mail,
	'href^="tel:"': $icon-phone,
	'href*="/maps"': $icon-globe
);

// Layout
// Site widths
$site-width: 960px; // Max width
$site-width-min: 85%; // Width before reaching max

// Margins (margins beneath elements)
$margin-small: .75rem;
$margin-default: 1.5rem;
$margin-large: 3rem;
$margin-x-large: 4rem;

// Paddings (inner padding of boxes)
$padding-small: .75rem;
$padding-default: 1.5rem;
$padding-large: 3rem;
$padding-x-large: 4rem;

// Gutters (margin between columns)
$gutter-default: 1.5rem;
$gutter-large: 3rem;

// .primary-content's width
$primary-content-width: 70%;

// Section paddings
$section-padding: 4rem;
$section-slant: 3rem;

// Transition speeds
$transition-easing: ease-out;
$transition-fast: .1s;
$transition-default: .2s;
$transition-slow: .4s;

// Popup
$popup-padding: $padding-large;
$popup-border-radius: 0;
$popup-width: 45rem;

// Shadows
// https://codepen.io/sdthornton/pen/wBZdXq
$shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
$shadow-4: 0 50px 80px -40px rgba(0, 0, 0, .25), 0 25px 25px -20px rgba(0, 0, 0, .25);
$shadow-5: 0 60px 140px -40px rgba(0, 0, 0, .25), 0 60px 120px -20px rgba(0, 0, 0, .25);

// Typography
// Font family
$font-family-default: "Open Sans", Helvetica, sans-serif;
$font-family-heading: "Open Sans", Helvetica, sans-serif;

// Weigth
$font-weight-default: normal;
$font-weight-heading: normal;

// Size
$font-size-default: 1rem;
$font-size-small: .8rem;
$font-size-large: 1.2rem;
$font-size-x-large: 1.8rem;

$font-size-h1: 3.6rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.4rem;
$font-size-h6: 1.1rem;

// Height and spacing
$line-height-default: 1.6;
$line-height-heading: 1.2;

$letter-spacing-default: 0;
$letter-spacing-heading: 0;

// Color
$color-text: #000;
$color-heading: #111;

// Links
$color-link: $button-color;
$color-link-hover: darken($color-link, 10%);
$color-link-visited: #609;

$text-decoration-link: none;
$text-decoration-link-hover: none;

// Linebreak/hyphen words by default?
$word-wrap-break-word: false;

// Height of header
$site-logo-size: 2rem;
$header-height: $site-logo-size + ($padding-default * 2);
$header-height-tablet: ($font-size-default * $line-height-default) + ($padding-default * 2);
