$auto-icons: (
	'href*="facebook.com"': $icon-facebook,
	'href*="twitter.com"': $icon-twitter,
	'href*="linkedin.com"': $icon-linkedin,
	'href*="instagram.com"': $icon-instagram,
	'href*="plus.google.com"': $icon-googleplus,

	'href$=".pdf"': $icon-pdf,
	'href$=".doc"': $icon-document,

	'href$=".jpg"': $icon-image,
	'href$=".jpeg"': $icon-image,
	'href$=".png"': $icon-image,
	'href$=".gif"': $icon-image,
	'href$=".bmp"': $icon-image,
	'href$=".svg"': $icon-image,

	'href^="mailto:"': $icon-mail,
	'href^="tel:"': $icon-phone,
	'href*="/maps"': $icon-globe
);
