/**
 * Breakpoints
 */
$breakpoints: (
	tablet: "(min-width: 600px)",
	tablet-max: "(max-width: 599px)",

	laptop: "(min-width: 1080px)",
	laptop-max: "(max-width: 1079px)",

	desktop: "(min-width: 1260px)",
	desktop-max: "(max-width: 1259px)"
);

/**
 * Button
 */
// Button size
$button-padding-horizontal: 3.2rem;
$button-padding-vertical: 1rem;
$button-empty-padding-horizontal: $button-padding-vertical;

// Button border (for ghost buttons)
$button-border-width: 1px;
$button-border-style: solid;
$button-border-radius: 0;

// Button background
$button-color: #ffcc34; // Can be a list in which case a gradient bg will be used
$button-text-color: #fff; // Default button text color (note that if BG is too bright its inverted color will be used for the text instead)
$button-text-color-dark: #ffcc34; // Button text color when BG-brightness > 90
$button-ghost-opacity: 1; // Opacity of a ghost buttons bg on hover (works best on non-gradient backgrounds)
$button-shadow: false; // False for no shadow, otherwise specify a shadow like "0 .25rem .5rem rgba(0, 0, 0, .25)"
$button-glow: false; // False for no glow, truee for glow on hover, both for glow all the time (NOTE: incompatible with button-shadow)

// Button text
$button-line-height: 1.2;
$button-font-size: 1rem;
$button-font-weight: normal;
$button-font-style: normal;
$button-text-transform: none;
$button-letter-spacing: false;
$button-font-family: false; // false = default font, !false = any font-family
$button-text-shadow: false; // True or false

/**
 * Colors
 */
// Specific colors
$body-bg: #fff;
$border-color: #dedede;
$overlay-color: rgba(0, 0, 0, .4);
$white: #fff;

// Define your general colors here, they may be gradients (by passing in 2 colors)
// Every color defined will be available in bg--, button--, icon-- etc components
$colors: (
	lightgray: #fafafa,
	gray: #bbb,
	darkgray: #777,

	white: #fff,
	black: #000,

	facebook: #3b5998,
	twitter: #4099FF,
	linkedin: #0077b5,

	disabled: #bbb,
	gradient: (red, green)
);

/**
 * Form
 */
// Background and text colors
$form-field-bg: #fff;
$form-placeholder-color: #bbb;
$form-text-color: #333;

// Padding
$form-padding-horizontal: $button-padding-vertical;
$form-padding-vertical: $button-padding-vertical;

// Border
$form-border: 1px solid lightgray;
$form-border-radius: .2rem;

// Select elements
$form-select-arrow: "assets/svg/select-arrow.svg"; // Set to false to have unstyled select elements
$form-select-arrow-size: .5rem;

// Range inputs
$form-range-color-lower: #bbb;
$form-range-color-upper: #ddd;
$form-range-height: .25rem;
$form-range-border: false;
$form-range-border-radius: .25rem;

$form-range-thumb-bg: #1FBB82;
$form-range-thumb-radius: 1rem;
$form-range-thumb-border: false;
$form-range-thumb-border-radius: 50%;
$form-range-thumb-shadow: true;

/**
 * Icons
 */
$icon-margin: .4em;
$icon-round-color: #369;
$icon-large-size: 2em;
$icon-round-size: 2.2em;

// List of attribute selectors and associated icons
$auto-icons: ();

// Use these if you have the icons defined
$auto-icons: (
	'href*="facebook.com"': $icon-facebook,
	'href*="twitter.com"': $icon-twitter,
	'href*="linkedin.com"': $icon-linkedin,
	'href*="instagram.com"': $icon-instagram,

	'href$=".pdf"': $icon-pdf,
	'href$=".doc"': $icon-document,

	'href$=".jpg"': $icon-image,
	'href$=".jpeg"': $icon-image,
	'href$=".png"': $icon-image,
	'href$=".gif"': $icon-image,
	'href$=".bmp"': $icon-image,
	'href$=".svg"': $icon-image,

	'href^="mailto:"': $icon-mail,
	'href^="tel:"': $icon-phone,
	'href*="/maps"': $icon-globe
);

/**
 * Layout
 */
// Site widths
$site-width: 960px; // Max width
$site-width-min: 85%; // Width before reaching max

// Margins (margins beneath elements)
$margin-small: .75rem;
$margin-default: 1.5rem;
$margin-large: 3rem;
$margin-x-large: 4rem;

// Paddings (inner padding of boxes)
$padding-small: .75rem;
$padding-default: 1.5rem;
$padding-large: 3rem;
$padding-x-large: 4rem;

// Gutters (margin between columns)
$gutter-default: 2rem;
$gutter-large: 4rem;

// .primary-content's width
$primary-content-width: 70%;

// Section paddings
$section-padding: 4rem;
$section-slant: 4rem;

// Transition speeds
$transition-easing: ease-out;
$transition-fast: .1s;
$transition-default: .2s;
$transition-slow: .4s;

// Max number of col classes
$num-cols: 3;

/**
 * Shadows
 */
// https://codepen.io/sdthornton/pen/wBZdXq
// https://codepen.io/sdthornton/pen/wBZdXq
$shadows: (
	1: "0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)",
	2: "0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)",
	3: "0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)",
	4: "0 50px 80px -40px rgba(0, 0, 0, .25), 0 25px 25px -20px rgba(0, 0, 0, .25)",
	5: "0 60px 140px -40px rgba(0, 0, 0, .25), 0 60px 120px -20px rgba(0, 0, 0, .25)"
);

/**
 * Typography
 */
// Font family
$font-family-default: "Open Sans", Helvetica, sans-serif;
$font-family-heading: $font-family-default;

// Weigth
$font-weight-default: normal;
$font-weight-heading: lighter;

// Size
$font-size-default: 1rem;
$font-size-small: .8rem;
$font-size-large: 1.2rem;
$font-size-x-large: 1.8rem;

$font-size-h1: 2.4rem;
$font-size-h2: 2rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1.1rem;

// Height and spacing
$line-height-default: 1.6;
$line-height-heading: 1.2;

$letter-spacing-default: 0;
$letter-spacing-heading: 0;

// Color
$text-color: #333;
$heading-color: #444;

// Links
$link-color: #06f;
$link-color-hover: darken($link-color, 10%);
$link-color-visited: #609;

$text-decoration-link: none;
$text-decoration-link-hover: none;

// Linebreak/hyphen words by default?
$word-wrap-break-word: false;

// Height of header
$site-logo-size: 2rem;
$header-height: $site-logo-size + ($padding-default * 2);
$header-height-tablet: ($font-size-default * $line-height-default) + ($padding-default * 2);
