@mixin animated-underline ($color: $color-link) {
	position: relative;

	&:after {
		background: $color;

		display: block;
		content: "";

		width: 0%;
		height: .25rem;

		position: absolute;
		left: 50%;
		bottom: 0;

		transform: translateX(-50%);
		transition: width $transition-default $transition-easing;
	}

	&:hover,
	&.active {
		@include animated-underline-active;
	}
}

@mixin animated-underline-active {
	&:after {
		width: 100%;
	}
}
