@mixin blog-post {
	header {
		h2 {
			margin-bottom: $margin-small;
		}

		p {
			@include separated-list(' | ', $margin-small / 2);

			font-size: $font-size-small;
			text-transform: uppercase;
			color: map-get($colors, gray);

			> *:after {
				color: $border-color;
			}
		}
	}

	> a:last-child {
		@include button;
	}
}
