.flex--3 {
	&:after {
		@include flex-width(33.333%, $gutter-default);

		display: block;
		content: "";
	}
}

.flex--4 {
	&:before,
	&:after {
		@include flex-width(25%, $gutter-default);

		display: block;
		content: "";
		order: 999;
	}
}

@media #{map-get($breakpoints, tablet)} {
	.flex--3--tablet {
		&:after {
			@include flex-width(33.333%, $gutter-default);

			display: block;
			content: "";
		}
	}

	.flex--4--tablet {
		&:before,
		&:after {
			@include flex-width(25%, $gutter-default);

			display: block;
			content: "";
			order: 999;
		}
	}
}

@media #{map-get($breakpoints, laptop)} {
	.flex--3--laptop {
		&:after {
			@include flex-width(33.333%, $gutter-default);

			display: block;
			content: "";
		}
	}

	.flex--4--laptop {
		&:before,
		&:after {
			@include flex-width(25%, $gutter-default);

			display: block;
			content: "";
			order: 999;
		}
	}
}
