@mixin header-and-cards {
	@include section;

	article {
		@include card;

		figure {
			margin: -$padding-default;
			margin-bottom: $padding-default;
		}
	}

	@media #{$bp-tablet} {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;

		&:after {
			display: none;
		}

		> header {
			@include flex-width(100%);
		}

		article {
			@include flex-width(50%, $gutter-default);
		}
	}
}
