@mixin header-and-cards {
	@include section;

	article {
		background: $white;
		padding: $padding-default;
		box-shadow: $shadow-1;

		figure {
			margin: -$padding-default;
			margin-bottom: $padding-default;
			overflow: hidden;

			img {
				display: block;
				width: 100%;
				transform: scale(1);
				transition: transform $transition-default $transition-easing;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	@media #{map-get($breakpoints, tablet)} {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;

		> header {
			@include flex-width(100%);
		}

		article {
			@include flex-width(50%, $gutter-default);

			// NOTE: This is to bottom align any potential buttons
		/*	display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-direction: column;

			> a:last-child {
				margin-top: auto;
			} */
		}
	}
}
