/***
    title: My Component
    section: Layout
    description: If you write comments like these they will show up in your styleguide (dist/styleguide.html). Note that you MUST use spaces rather than tabs in these comments.
    example:
        <p>No example provided</p>
***/
.my-component {

}
