@mixin post-content {
	// Give headings a lot of margin top here so that it's clear which paragraph it belongs to
	#{$headings} {
		&:not(:first-child) {
			margin-top: $spacing-large;
		}
	}

	// Make the first paragraph stick out
	p:first-of-type {
		font-weight: bold;
	}
}
