#archive-taxonomies {
	@include section;

	background: $white;

	padding-top: 0;
	padding-bottom: 0;

	font-size: $font-size-small;
	text-transform: uppercase;

	box-shadow: shadow(1);

	position: sticky;
	top: $header-height;
	z-index: 99;

	@media #{breakpoint(tablet)} {
		top: $header-height-tablet;
	}

	h2 {
		@include a11y-hide;
	}

	nav > ul {
		@include dropdown-menu;
	}
}
