#footer {
	@include section;

	background: #222;
	text-align: center;
	color: $white;

	a {
		color: $white;
	}

	ul {
		margin-left: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 $spacing-small;
		}
	}

	p {
		margin: 0;
	}
}
