#instagram {
	> header {
		@include container;

		margin-bottom: 0;
	}

	ul {
		margin: 0;
		list-style: none;

		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;

		> * {
			overflow: hidden;
			flex: 0 0 50%;
			width: 50%;

			@media #{breakpoint(tablet)} {
				flex: 0 0 25%;
				width: 25%;
			}
		}

		img {
			display: block;
			transform: scale(1);
			transition: transform $transition-default $transition-easing;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
