body.login {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;

	#login {
		background: #fff;

		width: 40rem;
		max-width: 100%;
		min-height: 100vh;

		margin: 0;
		padding: 3rem;

		@media (min-width: 44rem) {
			margin: 2rem auto;
			min-height: 0;
		}
	}
}
