#page {
	header {
		@include hero;

		background: $color-black;
		text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
	}

	// Page without right col
	> article {
		@include section;
	}

	// If the page has modules to the right, a div wraps the article and aside
	> div {
		@include section;

		&:after {
			display: none;
		}

		// Display them in columns in high res
		@media #{$bp-tablet} {
			display: flex;
			align-items: stretch;
			justify-content: space-between;

			article {
				flex: 0 0 #{$primary-content-width} - #{$gutter-large / 2};
				width: calc(#{$primary-content-width} - #{$gutter-large / 2});
			}

			aside {
				$aside-width: 100% - $primary-content-width;

				flex: 0 0 #{$aside-width} - #{$gutter-large / 2};
				width: calc(#{$aside-width} - #{$gutter-large / 2});
			}
		}
	}

	// Page content (regardless if two cols)
	article {
		@include post-content;
	}
}
