#page {
	> header {
		@include hero;

		text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);

		// Hide featured image in high res if a video hero is used
		@media #{$bp-laptop} {
			div.video-hero + figure {
				display: none;
			}
		}
	}

	// Page without right col
	> article {
		@include section;
	}

	// Right col
	> div > aside {
		> * {
			margin-bottom: $margin-large;
		}

		h2 {
			font-size: $font-size-h4;
		}

		ul {
			margin: 0;
			list-style: none;

			li {
				margin-bottom: $margin-small;
			}

			ul {
				margin: $margin-small 0 0 $margin-small;
			}
		}
	}

	// If the page has modules to the right, a div wraps the article and aside
	> div {
		@include section;

		// Display them in columns in high res
		@media #{$bp-tablet} {
			display: flex;
			align-items: stretch;
			justify-content: space-between;

			> article {
				flex: 0 0 #{$primary-content-width} - #{$gutter-large / 2};
				width: calc(#{$primary-content-width} - #{$gutter-large / 2});
			}

			> aside {
				$aside-width: 100% - $primary-content-width;

				flex: 0 0 #{$aside-width} - #{$gutter-large / 2};
				width: calc(#{$aside-width} - #{$gutter-large / 2});
			}
		}
	}

	// Page content (regardless if two cols)
	> article,
	> div > article {
		@include post-content;
	}
}
