#share-post {
	@include section;

	ul {
		@include auto-icons;

		margin-left: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 $margin-small;
		}

		a {
			font-size: 0;

			&:before {
				font-size: $font-size-x-large;
				margin: 0;
			}
		}
	}
}
