// Logo
.site-logo {
	display: block;
	position: relative;
	z-index: 100;

	font-size: 2rem;
	line-height: 1;

	// Make room for icon in low res
	@media #{breakpoint(laptop-max)} {
		margin-left: 2.5rem;
	}

	// Icon
	&:before {
		@include icon($icon-book);

		margin: 0;
		color: $link-color;

		position: absolute;
		left: -2.5rem;
		top: 50%;
		transform: translate(0, -50%);

		transition: all $transition-default $transition-easing;
	}

	&:hover {
		&:before {
			transform: translate(0, -50%) rotate(-10deg) scale(1.4); // :P
		}
	}
}
